<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Broken</title>
	<link type="text/css" rel="stylesheet" href="../css/brokenFile.css" />
</head>
<body>
    <div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">File bạn tải lên có thể đã bị hỏng. Vui lòng làm theo hướng dẫn để khắc phục file hỏng.</ü>
  <p class="output">Chắc chắn rằng tên cột trong file excel của bạn chứa trường: email, name</ü>
  <p class="output">Please try <a href="./">this link</a></p>
  <p class="output">Good luck</p>
</div>
</body>
</html>